pkgbase = foam-extend-git
	pkgdesc = A fork of the OpenFOAM open source library with an extended featureset
	pkgver = v4.0.r187.gefcc2b1b7
	pkgrel = 1
	url = http://foam-extend.org
	install = foam-extend-git.install
	arch = x86_64
	license = GPL3
	makedepends = git
	makedepends = cmake
	makedepends = rpm-org
	makedepends = wget
	makedepends = gcc5
	makedepends = mercurial
	depends = yajl>=2.0
	depends = openmpi
	depends = qt4
	depends = python2-virtualenv
	optdepends = python2-numpy
	source = git+https://git.code.sf.net/p/foam-extend/foam-extend-4.0
	source = src.patch
	source = swak4F-0.4.0.patch
	sha256sums = SKIP
	sha256sums = e72b7472c465c8146b06c4146baaa5a03ea3bc7b1af50ed582c5a83b5bae45a2
	sha256sums = d808fc2cf51989225507d36100446dc471660b1e4875ef3f4a8f442f70b604d5

pkgname = foam-extend-git

